<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317750935639-het2u5k9l7ek8nomo1dfatqtfcllv26a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317750935639-het2u5k9l7ek8nomo1dfatqtfcllv26a</string>
	<key>API_KEY</key>
	<string>AIzaSyBa8FwhEq4imVTiZUAwMbMpQw8a3D628YU</string>
	<key>GCM_SENDER_ID</key>
	<string>317750935639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud</string>
	<key>PROJECT_ID</key>
	<string>crudapp-17ac1</string>
	<key>STORAGE_BUCKET</key>
	<string>crudapp-17ac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317750935639:ios:529bce392fe7d06647a312</string>
</dict>
</plist>